[user]
	email = bitcookies@nousbuild.com
	name = bitcookies
[core]
	quotepath = false
[gui]
	encoding = utf-8
[i18n "commit"]
	encoding = utf-8
[i18n]
	logoutputencoding = utf-8
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = true
